.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.exercises-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.exercise-section {
    width: 48%;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exercise-section h2 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.chart-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}