.title-explain-section {
    max-width: 1240px;
    margin: auto;
    box-shadow: 0px 0px 10px #0000001a;
    flex: 1;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.predict-section,
.result-section {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px #0000001a;
}

.predict-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}

.form-control:focus {
    border-color: #50bc54;
    border: 7px solid #50bc54;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #50bc54;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #337936;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}


.video-container {
    margin: 10px 0;
    text-align: center;
}

.video-container iframe {
    max-width: 100%;
    height: auto;
}


.accordion {
    margin-top: 5px;
    color: #fff;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion-button:not(.collapsed) {
    background-color: #50bc54;
    color: #fff;
}

.active,
.accordion:hover {
    background-color: white;
    border: 2px;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.measure-section,
.predict-section,
.result-section {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}


.btn-reset {
    padding: 10px 20px;
    background-color: #6c757d;
    /* A gray color, you can change it as you like */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    /* Adds some space between the submit and reset buttons */
}

.btn-reset:hover {
    background-color: #5a6268;
    /* Darker shade for hover state */
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    /* Aligns buttons to the right */
}


.accordion-button:not(.collapsed)::after {
    background-image: none;
}


.accordion-button {
    position: relative;
    /* 버튼에 대한 상대 위치 설정 */
    padding-right: 30px;
    /* 화살표 아이콘을 위한 공간 확보 */
    margin-top: 10px;
    margin-bottom: 10px;
}

.accordion-button::after {
    content: '+';
    /* 기본 상태의 아이콘 */
    position: absolute;
    /* 절대 위치 설정으로 버튼 내에서 자유롭게 위치 이동 가능 */
    right: 10px;
    /* 오른쪽 끝에서 10px 떨어진 곳에 위치 */
    top: 50%;
    /* 버튼의 중앙에 위치 */
    font-size: 25px;
    background-image: none;
}

.accordion-button.active::after {
    content: '-';
    /* 활성화 상태의 아이콘 */
    background-image: none;
    font-size: 25px;
    top: 50%;
}

#loader {
    font-size: 25px;
    text-align: center;
}