.predict-section {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.predict-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}


.video-container {
    margin: 20px 0;
    text-align: center;
}

.video-container iframe {
    max-width: 100%;
    height: auto;
}


.accordion {
    margin-top: 20px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.measure-section,
.predict-section {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}


.btn-reset {
    padding: 10px 20px;
    background-color: #6c757d;
    /* A gray color, you can change it as you like */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    /* Adds some space between the submit and reset buttons */
}

.btn-reset:hover {
    background-color: #5a6268;
    /* Darker shade for hover state */
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    /* Aligns buttons to the right */
}