.head_menu {
    width: 90%;
    position: relative;
    margin: 0 auto;
    height: 40px;
}

.head_menu > li {
    width: 24%;
    height: 40px;
    margin-right: 5px;
    float: left;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    cursor: default;
    /* 배경 검출용 테스트 bg_color */
    /* background-color: aqua; */
    position: relative;
}

.head_menu > li:hover {
    background-color: #56c05a;
    transition-duration: 0.5s;
}

.head_menu > li:hover > p {
    font-weight: bolder;
    color: #fff;
}

/* .head_menu > li a:hover {
    font-weight: bolder;
    color: #ffffff;
    transition-duration: 0.4s;
} */

.head_menu > li:not(:hover) {
    /* background-color: aqua; */
    transition-duration: 0.5s;
}

.head_menu a {
    text-decoration: none !important;
    color: black;
    display: block;
}

.submenu1, .submenu2, .submenu3 {
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    /* background-color: cadetblue; */
    transition-duration: 1s;
}

.submenu1 > li,
.submenu2 > li,
.submenu3 > li {
    line-height: 50px;
    background: white;
    /* background-color: #eeeeee; */
}

.submenu1 > li:hover,
.submenu2 > li:hover,
.submenu3 > li:hover {
    background-color: #50bc54;
    /* transition-duration: 0.5s; */
}

.submenu1 > li:hover a,
.submenu2 > li:hover a,
.submenu3 > li:hover a {
    font-weight: bolder;
    color: #fff;
}

/* 메뉴 1개 짜리 */
.head_menu > li:hover .submenu1 {
    box-shadow: 2px 2px 5px 0px #555555;
    height: 50px; /* 하나 당 50px */
    transition-duration: 0.5s;
}

/* 메뉴 2개 짜리 */
.head_menu > li:hover .submenu2 {
    box-shadow: 2px 2px 5px 0px #555555;
    height: 100px;
    transition-duration: 0.5s;
}

/* 메뉴 3개 짜리 */
.head_menu > li:hover .submenu3 {
    box-shadow: 2px 2px 5px 0px #555555;
    height: 150px;
    transition-duration: 0.5s;
}

.head_menu > li:not(:hover) .submenu1,
.head_menu > li:not(:hover) .submenu2,
.head_menu > li:not(:hover) .submenu3 {
    height: 0px;
    transition-duration: 0.5s;
}

/* 미완성 미디어 쿼리 */
@media (max-width: 768px) {
    .head_menu > li {
        width: 20%;
        float: none;
    }

    .submenu {
        top: 20%;
    }
}