.mainpic {
    width: 800px;
    height: auto;
    z-index: 1;
}

.mainpic:hover {
    width: 100%;
    opacity: 0.5;
    transition-duration: 0.5s;
}

.mainpic:not(:hover) {
    opacity: 1;
    transition-duration: 0.5s;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* div h1, div span, div button {
    margin: 10px 0;
} */