.display_flex {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#analysis-section {
    display: none;
}

#analyze_box {
    display: inline-flex;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#fileUpload {
    display: none;
}

#file_upload_btn {
    cursor: pointer;
}

#preview {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 700px;
    height: 500px;
    border: 4px dashed #0e9c13;
    border-radius: 20px;
}

#preview > p {
    margin-top: 200px;
}

#meal_image {
    border: 3px solid #0c6132;
    border-radius: 20px;
    z-index: 1;
}

#meal_result_form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

#analyze-button {
    border: 2px solid #56c05a;
    border-radius: 0.6rem;
    color: #56c05a;
    cursor: pointer;
    font-size: x-large;
    font-weight: 500;
    width: 150px;
    height: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#analyze-button:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #56c05a inset;
}

#result_message {
    margin: 20px 0 20px 0;
}

.input_container{
    position: relative;
    margin-top: 1em;
}

.input_container > input {
    padding: 10px;
    border: 2px solid #40bb35;
    border-radius: 10px;
    margin-right: 10px;
}

.input_container > input:focus {
    outline: 3px solid #40bb35;
}

.greenBtn {
    background-color: #fff;
    color: #113e0d;
    padding: 5px;
    border: 2px solid #56c05a;
    border-radius: 10px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.greenBtn:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #56c05a inset;
}

.search-results {
    padding-right: 32px;
    position: absolute;
    background-color: white;
    border: 2px solid #40bb35;
    border-radius: 10px;
    z-index: 5;
}

.search-results > li {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #40bb35;
}

.search-results > li:hover {
    cursor: pointer;
    font-weight: bold;
    color: #18bc18;
    transition-duration: 0.3s;
}

/* #result_image_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid black;
} */

#nutrient_info_box {
    margin: 0 auto;
}

#progress {
    width: 75%;
    appearance: none;
}

#progress::-webkit-progress-bar{
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: inset 3px 3px 10px #b5b5b5;
}

#progress::-webkit-progress-value {
    border-radius: 5px;
    /* background: #fff879; */
    /* background: -webkit-linear-gradient(to right, #1739a9, #98c016); */
    background: linear-gradient(to right, #7fcf9d, #0e9c13);
}

#progress.overweight::-webkit-progress-value {
    transition: 6s linear;
    background: linear-gradient(to right, #f28585, #ca1c1c);
}

#progressbar {
    margin: 20px 0 10px 0;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 90%;
}

.float_link {
    position: fixed;
    bottom: 360px;
    right: 15px;
    z-index: 6;
}

.float_link a {
    padding: 10px;
    border: 2px solid #35c87e;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #0c6132;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.float_link a:hover {
    color: white;
    font-weight: 700;
    outline: 0;
    box-shadow: 0 0 40px 40px #35c87e inset;
}

#nutrient_info_box {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2rem;
}

#meal_info_chart {
    width: 100%;
    margin: 0 auto;
}

/* #meal_info_chart > tbody:first-child {
    border-top: 3px solid #0fa80a;
} */

#meal_info_chart > tbody > tr:first-child {
    color: #ffffff;
    font-weight: 500;
    background-color: #40bb35;
}

#meal_chart_title {
    font-weight: 500;
    font-size: x-large;
}

#meal_info_chart > tbody > tr > th, td {
    padding: 10px;
}

#nutrient_table {
    width: 100%;
    margin: 0 auto;
}

#nutrient_table > tbody > tr:first-child {
    color: #0c6132;
    border-bottom: 3px solid #40bb35;
}

#summary_btn {
    margin-top: 20px;
    font-size: larger;
    font-weight: 600;
    color: #0c6132;
}

.chart-container {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
    width: 50%;
    height: 50vh;
    /* background-color: rgb(225, 48, 48); */
}

.barchart-container {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    height: 12vh;
}

.warning_quote {
    font-size: 19px;
}