/* 새 */
#left {
    width: 50%;
}

#right {
    width: 50%;
}


/* 사용자 정보 스타일 */
#mypage_user_target_weight,
#mypage_current_height,
#mypage_current_weight,
#mypage_weight_graph,
#mypage_calories_graph,
#mypage_current_calories {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    padding: 5px;
    text-align: center;
    width: 50%;
    margin-left: 10%;
    margin-bottom: 10px;
}

#calendar {
    margin: 0 auto;
}

#user_info_change {
    background-color: #fff;
    color: #50bc54;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    text-align: center;
    width: 50%;
    margin-right: 30%;
    margin-bottom: 20px;
}


#user_info_change:hover {
    background: #50bc54;
    color: #fff;
}


/* 그래프 섹션 스타일 */
#mypage_user_name,
#mypage_user_activity,
#mypage_calendar {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    text-align: center;
    width: 50%;
    margin-left: 45%;
    margin-bottom: 30px;
}

.btn-primary {
    border-color: #50bc54;
}

/* 상품 등록 */
#form_tbl th {
    background-color: #50bc54;
    color: white;
    width: 100px;
    text-align: right;
}

#form_tbl td input {
    border: solid 1px #50bc54;
    width: 300px;
    height: 30px;
    box-shadow: 0 1px 1px 0;
}

#form_btn {
    background-color: #50bc54;
    width: 80px;
    height: 35;
    color: white;
    border-radius: 5px;
}

/* 유저 정보 수정 제목 스타일링 */
h3 {
    margin-bottom: 30px;
    color: #333;
}

/* 폼 스타일링 */
.user-info-form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

/* 테이블 스타일링 */
#form_tbl {
    width: 100%;
    margin-bottom: 20px;
}

/* 폼 내부 각 항목 스타일링 */
.user-info-form p {
    margin: 10px 0;
}

/* 라벨 스타일링 */
.user-info-form label {
    display: block;
    text-align: left;
    margin-left: 20px;
}

/* 인풋 필드 스타일링 */
.user-info-form input[type='text'],
.user-info-form input[type='number'],
.user-info-form input[type='submit'] {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 수정 버튼 스타일링 */
.user-info-form input[type='submit'] {
    background-color: #fff;
    color: #50bc54;
    cursor: pointer;
}

.user-info-form input[type='submit']:hover {
    background-color: #fff;
}