* {
    padding: 0;
    /* margin: 0; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    text-align: center;
    margin: 0 auto;
}

.modal-backdrop {
    --bs-backdrop-zindex: 9 !important;
}