#sign_up_form {
    border: 5px solid rgb(16, 169, 16);
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(118, 118, 118, 0.6);
    padding: 15px;
    margin: 0 auto;
    width: 32rem;
    display: flex;
    flex-direction: column;
}

#sign_up_table {
    flex-grow: 1;
}

#sign_up_table tr {
    margin-bottom: 10px;
}

#sign_up_table th {
    width: 8em;
    font-weight: normal;
    text-align: left;
    border-right: 3px solid rgba(0, 205, 0, 0.486);
}

#sign_up_table div {
    flex-grow: 1;
    display: inline-flex;
}

#sign_up_table input {
    padding: 5px;
    border: 2px solid #40bb35;
    border-radius: 10px;
}

#id_username {
    width: 56%!important;
    margin-right: 9px;
}

.id_check {
    width: 40%;
    font-size: 13px;
    line-height: 25px;
}

#id_user_height {
    margin-right: 5px;
}

#height_weight {
    width: 100%;
}

#sign_up_table input {
    width: 100%;
}

#joinbtn {
    margin-top: 10px;
}