{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/my_page1.css' %}">
<div id="mypage_top">
    <div id="mypage_user_name">
        사용자 이름: {{ my_page_user.username }}
    </div>
    <div id="mypage_user_target_weight">
        목표 체중: {{ my_page_user.user_target_weight }}kg
        <button>변경</button>
    </div>
    <div id="mypage_user_activity">
        활동 수준: {{ my_page_user.user_activity }}
    </div>
</div>

<div id="mypage_calendar">
    <button id="prev_month">&lt;</button>
    <div id="calendar">여기에 달력 넣기</div>
    <button id="next_month">&gt;</button>
</div>

<div id="mypage_current_height_weight">
    <div id="mypage_current_height">
        현재 키: {{ my_page_user.user_height }}cm
    </div>
    <button id="today_h_button" type="submit" value="today_h">변경</button>    
    <div id="mypage_current_weight">
        현재 몸무게: {{ my_page_user.user_weight }}kg
    </div>
    <button id="today_w_button" type="submit" value="today_w">변경</button>
</div>
<div id="mypage_weight_graph">
    몸무게 그래프 여기 들어가고
</div>
<div id="mypage_calories_graph">
    칼로리 그래프 여기 들어가고
</div>
<div id="mypage_current_calories">
    현재까지 섭취한 하루 칼로리 여기 들어가고
</div>
{% endblock content %}
