{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<form action="" method="post" id="sign_up_form">
    {% csrf_token %}
    <table id="sign_up_table">
        <tr><th>아이디</th>
            <td><input id="input_id" type="text" name="username" placeholder="아이디" required>
                <button class="id_check" type="button" value="id_check">아이디 중복 확인</button>
            </td>
        </tr>
        <tr><th>이메일</th>
        <td><input type="email" name="email" placeholder="이메일" required></td>
        </tr>
        <tr><th>비밀번호</th>
            <td><input type="password" name="password" placeholder="비밀번호" required></td>
        </tr>
        <tr><th>비밀번호 확인</th>
            <td><input type="password" name="password_check" placeholder="비밀번호 확인" required></td>
        </tr>
        <tr><th>나이</th>
            <td><input type="date" name="user_age" required></td>
        </tr>
        <tr><th>성별</th>
            <td>
                <label>남<input type="radio" name="user_gender" value="0"></label>
                <label>여<input type="radio" name="user_gender" value="1"></label>
            </td>
        </tr>
        <tr><th>키, 몸무게</th>
            <td>
                <input type="number" name="user_height" value="키" maxlength="3">cm
                <input type="number" name="user_weight" value="몸무게" maxlength="3">kg
            </td>
        </tr>
        <tr><th>운동목적</th>
            <td>
                <label>건강<input type="radio" name="purpose" value="health"></label>
                <label>체중 감량<input type="radio" name="purpose" value="diet"></label>
                <label>벌크업<input type="radio" name="purpose" value="bulkup"></label>
            </td>
        </tr>
        <tr><th>활동수준</th>
            <td>
                <select name="user_activity" id="">
                    <option value="active">활동적</option>
                    <option value="deactive">비활동적</option>
                </select>
            </td>
        </tr>
    </table>
    <button id="joinbtn" type="submit" value="join">가입</button>
</form>
<script src="{% static 'js/sign_up.js' %}"></script>
{% endblock content %}