<!-- {% load static %} -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base 페이지</title>
    <!-- <link rel="stylesheet" href="{% static '/css/basic.css' %}"> -->
    <link rel="icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/head_menu.css' %}">
    <link rel="stylesheet" href="{% static '/css/meal_analyze.css' %}">
    <link rel="stylesheet" href="{% static '/css/meal_history.css' %}">
    <link rel="stylesheet" href="{% static '/css/meal_recommend.css' %}">
    <!-- 부트스트랩 CSS _ CDN 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/meal_analyze.js' %}"></script>
    <script src="{% static 'js/meal_history.js' %}"></script>
    <script src="{% static 'js/meal_recommend.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 부트스트랩 JS _ CDN 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</head>

<body>
    <div id="wrap">
        {% include 'header.html' %}
        <hr>
        {% block content %}
        {% endblock content %}
        <hr>
        {% include "footer.html" %}
    </div>
</body>

</html>