{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div id="Team_info_box">
        <p>(팀) 운식아 도아조 | 김근형, 방성준, 임덕현, 차성현</p>
        <p>ⓒ Unsik | 사업자등록번호 : 190-81-24025</p>
        <a href="https://github.com/lifelong-learner-dev/unsik" style="text-decoration: none;">
            <img src="{% static 'images/github-mark-white.png' %}" alt="Github_logo" style="width: 32px;">
            <span>Team Github 방문하기</span>
        </a><br>
        <!-- <marquee direction="left" scrolldelay="180" width="180">운식이와 함께 '운'동 '식'단 같이 해봐요!</marquee> -->
    </div>
    <div id="footer_img">
        <img src="{% static 'images/unsik_logo1.png' %}" alt="unsik_footer_logo" style="height: 140px;">
    </div>
    <div>
        <a href="#" id="top_button">
            <span>△ 맨 위로 가기</span>
        </a>
    </div>
</footer>