{% load static %}
<link rel="stylesheet" href="{% static '/css/header.css' %}">
<header>
    <div id="logo_box">
        <a href="{% url 'main' %}">
            <img src="" alt="unsik_logo">
            <span>UNSIK</span>
        </a>
    </div>
    <div id="user_info">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="">{{ user }}님 로그인</a></li>
            <li><a href="#">로그아웃</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
        {% endif %}
    </div>
    <hr>
</header>