{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/calorie_dict.css' %}">
<h2>식품 상세 정보</h2>
<button onclick="goBack()" class="greenBtn">돌아가기</button>
<div class="dict_tbody" style="width: 80%; margin: 0 auto;">
    <table id="cal_dict">
        <tr>
            <th>식품명</th><th>지역/제조사</th><th>1회 제공량</th>
            <th>총량</th><th>칼로리</th>
        </tr>
        <tr>
            <td>{{ food.food_name }}</td><td>{{ food.maker }}</td>
            <td>{{ food.one_serve_amount_g_field }}g</td>
            <td>{{ food.total_amount_g_field }}g</td>
            <td>{{ food.calories }}kcal</td>
        </tr>
        <tr>
            <th>수분</th><th colspan="2">단백질</th><th colspan="2">지방</th>
        </tr>
        <tr>
            <td>{{ food.water }}ml</td>
            <td colspan="2">{{ food.protein }}g</td>
            <td colspan="2">{{ food.fat }}g</td>
        </tr>
        <tr>
            <th>탄수화물</th><th colspan="2">당</th><th colspan="2">식이섬유</th>
        </tr>
        <tr>
            <td>{{ food.carbohydrate }}g</td>
            <td colspan="2">{{ food.suger }}g</td>
            <td colspan="2">{{ food.dietary_fiber }}g</td>
        </tr>
        <tr>
            <th>나트륨</th><th colspan="2">포화지방</th><th colspan="2">트랜스지방</th>
        </tr>
        <tr>
            <td>{{ food.natrium }}mg</td>
            <td colspan="2">{{ food.total_sfa }}g</td>
            <td colspan="2">{{ food.total_tfa }}g</td>
        </tr>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}