{% extends 'base.html' %}

{% block content %}
<h2>식단 분석 페이지</h2>
<main>
    <section class="meal-analysis">
        <h1>식단 사진 업로드</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'meal_to_analyze' %}"
            onsubmit="return photoUploadCheck()">
            {% csrf_token %}
            <label for="fileUpload">식단 사진 선택:</label>
            <input type="file" id="fileUpload" name="fileUpload" accept="image/*">
            <div id="preview">
                AI가 식단을 분석해 자동으로 영양정보를 분석하고 맞춤 식단을 추천해드립니다.
            </div>
            <button type="submit" id="analyze-button">분석</button>
        </form>
    </section>
    <div id="current-section"></div>
    <!-- <section class="meal-details">
        <h2>식단 정보</h2>
        <div id="meal_detail"></div>
    </section>
    </div> -->
</main>
<aside>
    <div id="analysis-section">
        <main>
            <p>업로드 한 식사를 분석하고 있습니다</p>
        </main>
    </div>

    <h2>영양소 정보</h2>
    <div id="nutrient_information"></div>
    <h2>코멘트</h2>
    <div id="time_comment"></div>


</aside>
<script>
    // 사진 업로드 체크. 이 함수 없으면 오류 발생
    function photoUploadCheck() {
        var fileUpload = document.getElementById('fileUpload');

        if (fileUpload.files.length == 0) {
            alert('사진을 업로드해주세요');
            return false;
        }
        return true;
    }
</script>
{% endblock content %}