{% load static %}
<div class="chart-container">
    <canvas id="nutrient_chart"></canvas>
</div>
<div id="progressbar">
    <p>오늘 섭취량 : {{ todays_total_cal }} / {{ user_max_calorie }}</p>
    <progress id="progress" value="0" min="0" max="{{ user_max_calorie }}">삽입</progress>
</div>
<div id="nutrient_info_box">
    <table id="meal_info_chart">
        <tr id="meal_chart_title">
            <th>구분</th>
            <th>식단 칼로리</th>
            <th>탄수화물</th>
            <th>단백질</th>
            <th>지방</th>
            <th>포화지방</th>
            <th>당</th>
            <th>나트륨</th>
            <th>식이섬유</th>
        </tr>
        <tr>
            <th>현재 식단</th>
            <td>{{ this_meal_cal }}kcal</td>
            <td>{{ total_nutrient.0 }}g</td>
            <td>{{ total_nutrient.1 }}g</td>
            <td>{{ total_nutrient.2 }}g</td>
            <td>{{ total_nutrient.5 }}g</td>
            <td>{{ total_nutrient.3 }}g</td>
            <td>{{ total_nutrient.4 }}mg</td>
            <td>{{ total_nutrient.7 }}g</td>
        </tr>
        <tr>
            <th>전체 식단</th>
            <td>{{ todays_total_cal }}kcal</td>
            <td>{{ todays_total_nut.0 }}g</td>
            <td>{{ todays_total_nut.1 }}g</td>
            <td>{{ todays_total_nut.2 }}g</td>
            <td>{{ todays_total_nut.5 }}g</td>
            <td>{{ todays_total_nut.3 }}g</td>
            <td>{{ todays_total_nut.4 }}mg</td>
            <td>{{ todays_total_nut.7 }}g</td>
        </tr>
    </table>
    <details>
        <summary id="summary_btn">개별 음식 영양 정보</summary>
        <table id="nutrient_table">
            <tr>
                <th>음식명</th>
                <th>칼로리</th>
                <th>수분</th>
                <th>탄수화물</th>
                <th>단백질</th>
                <th>지방</th>
                <th>포화지방</th>
                <th>당</th>
                <th>나트륨</th>
                <th>식이섬유</th>
            </tr>
            {% for food in each_foods %}
            <tr>
                <td>{{ food.food_name }}</td>
                <td>{{ food.calories }}kcal</td>
                <td>{{ food.water }}ml</td>
                <td>{{ food.carbohydrate }}g</td>
                <td>{{ food.protein }}g</td>
                <td>{{ food.fat }}g</td>
                <td>{{ food.total_sfa }}g</td>
                <td>{{ food.suger }}g</td>
                <td>{{ food.natrium }}mg</td>
                <td>{{ food.dietary_fiber }}g</td>
            </tr>
            {% endfor %}
        </table>
    </details>
</div>
<div class="float_link">
    <a href="{% url 'meal_history' %}">식단 히스토리 바로가기</a>
</div>
<div style="width: 100%;">
    <h2>{{ user }}님의 {{ meal_type }}식단 분석</h2>
    <div class="barchart-container">
        <canvas id="nut_proportion_chart"></canvas>
    </div>
    {% if warnings_dict %}
    <div style="display: grid; justify-items: start; justify-content: space-evenly;">
        {% for key, value in warnings_dict.items %}
        <div class="display_flex warning_quote">
            <img src="{% static 'images/warning-sign-icon-transparent-background.png' %}" alt="warning-sign" style="width: 32px;">
            <strong style="color: crimson;">{{ key }}</strong>
            <p>&nbsp;: {{ value }}</p>
        </div>
        {% endfor %}
        {% else %}
        <div class="display_flex warning_quote">
            <img src="{% static 'images/smily.png' %}" alt="스마일 표시" style="width: 32px;">
            <p>완벽해요! 계속 이렇게 유지 해주세요.</p>
        </div>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function() {
        let maxCalories = $("#progress").attr("max");
        // console.log(maxCalories);
        let calories = {{ todays_total_cal }}
        $("#progress").animate({
            // 애니메이션이 도달해야 하는 거리
            value: calories
        }, {
            duration: 3000,
            step: function (currentValue) {
                $("#progress").attr("value", currentValue);
            },
            complete: function() {
                $("#progress").attr("value", calories);

                if (calories > maxCalories) {
                    $("#progress").addClass("overweight");
                }
            }
        });

        // 차트 그려주는 기능
        var canvas1 = $("#nutrient_chart");
        var nutrientChart = new Chart(canvas1, {
            type: 'radar',
            data: {
                labels: ['탄수화물', '단백질', '지방', '당류', '식이섬유', '포화지방'],
                // labels: ['탄수화물', '단백질', '지방'],
                datasets: [{
                    label: "현재 식단",
                    data: [{{ total_nutrient.0 }},
                           {{ total_nutrient.1 }},
                           {{ total_nutrient.2 }},
                           {{ total_nutrient.3 }},
                           {{ total_nutrient.7 }}, 
                           {{ total_nutrient.5 }}, ],
                    backgroundColor: [
                        'rgba(133, 255, 109, 0.3)',
                    ],
                    borderColor: [
                        'rgba(60, 211, 30, 1)',
                    ],
                    pointBackgroundColor: [
                        'rgb(85, 255, 51)'
                    ],
                    pointHoverBackgroundColor: [
                        '#fff',
                    ],
                    pointHoverBorderColor: [
                        'rgb(85, 255, 51)',
                    ],
                    pointRadius: 4,
                    pointHoverRadius: 5
                },
                {
                    label: "오늘 전체 식사량",
                    data: [{{ todays_total_nut.0 }},
                           {{ todays_total_nut.1 }},
                           {{ todays_total_nut.2 }},
                           {{ todays_total_nut.3 }},
                           {{ todays_total_nut.7 }}, 
                           {{ todays_total_nut.5 }}, ],
                    backgroundColor: [ // 박스 배경 색상
                        'rgba(23, 128, 255, 0.3)',
                    ],
                    borderColor: [ // 경계 색상
                        'rgba(7, 82, 173, 1)',
                    ],
                    pointBackgroundColor: [ // 포인터 배경색
                        'rgb(72, 154, 255)'
                    ],
                    pointHoverBackgroundColor: [ // 마우스 올리면 바뀌는 점
                        '#fff',
                    ],
                    pointHoverBorderColor: [ // 마우스 올리면 바뀌는 경계선
                        'rgb(7, 82, 173)',
                    ],
                    pointRadius: 4,
                    pointHoverRadius: 5,
                },
                // {
                //     label: "{{ user }}님 하루 적정 식사량",
                //     data: [367, 155, 160, 100, 100, 100 ],
                //     backgroundColor: [ // 박스 배경 색상
                //         'rgba(58, 58, 218, 0.2)',
                //     ],
                //     borderColor: [ // 경계 색상
                //         'rgba(58, 58, 218, 1)',
                //     ],
                //     pointBackgroundColor: [ // 포인터 배경색
                //         'rgb(255, 99, 132)'
                //     ],
                //     pointHoverBackgroundColor: [ // 마우스 올리면 바뀌는 점
                //         '#fff',
                //     ],
                //     pointHoverBorderColor: [ // 마우스 올리면 바뀌는 경계선
                //         'rgb(255, 99, 132)',
                //     ]
                // }
                ]
            },
            options: {
                scale: {
                    angleLines: {
                        display: false
                    },
                    ticks: {
                        suggestedMin: 50,
                        suggestedMax: 150
                    }
                },
                scales: {
                    r: {
                        pointLabels: {
                            font: {
                                size: 17
                            }
                        }
                    }
                }
            }
        });

        $(function(){
            BarChart.init();
        });

        const BarChart = {
            losChart : null, 
            chartData : {
                labels: ['영양소 비율'],
                datasets: [
                    {
                        label: '탄수화물',
                        data: [{{ nurtient_proportion.0 }}],
                        backgroundColor: 'rgba(255, 185, 46, 0.8)',
                        borderColor: 'rgba(255, 185, 46, 1)',
                        // borderWidth: 1,
                        barThickness:23,
                        borderSkipped:false ,
                        borderRadius: [
                            { topLeft: 20, topRight: 0, bottomLeft: 20, bottomRight: 0},
                        ],
                        
                    },
                    {
                        label: '단백질',
                        data: [{{ nurtient_proportion.1 }}],
                        backgroundColor: 'rgba(255, 110, 233, 0.8)',
                        borderColor: 'rgba(255, 110, 233, 1)',
                        barThickness:23,
                    },
                    {
                        label: '지방',
                        data: [{{ nurtient_proportion.2 }}],
                        backgroundColor: 'rgba(225, 48, 48, 0.8)',
                        borderColor: 'rgba(225, 48, 48, 1)',
                        barThickness:23,
                    },
                    {
                        label: '당',
                        data: [{{ nurtient_proportion.3 }}],
                        backgroundColor: 'rgba(79, 237, 61, 0.8)',
                        borderColor: 'rgba(79, 237, 61, 1)',
                        barThickness:23,
                    },
                    {
                        label: '포화지방',
                        data: [{{ nurtient_proportion.4 }}],
                        backgroundColor: 'rgba(44, 84, 204, 0.8)',
                        borderColor: 'rgba(44, 84, 204, 1)',
                        barThickness:23,
                    },
                    {
                        label: '트랜스지방',
                        data: [{{ nurtient_proportion.5 }}],
                        backgroundColor: 'rgba(97, 24, 160, 0.8)',
                        borderColor: 'rgba(97, 24, 160, 1)',
                        barThickness:23,
                        borderRadius: [
                            { topLeft: 0, topRight: 20, bottomLeft: 0, bottomRight: 20},
                        ]
                    },
                ]
            },

            init: function(){
                BarChart.initChart(); 
            },
            initChart: function(){
            // if(this.losChart != undefined) this.losChart.destroy();
            
            BarChart.losChart = new Chart($('#nut_proportion_chart'), {
                    type: 'bar', 
                // data: dslosChart.chartData,
                });
            
            BarChart.getLosChart();

            },
            getLosChart: function(){

                BarChart.losChart.data = BarChart.chartData;
                
                BarChart.losChart.options.plugins.datalabels = {display: false };
                BarChart.losChart.options = {
                indexAxis: 'y',
                responsive: true,
                maintainAspectRatio: false,
                scales : {
                    x : {stacked: true, display:false},
                    y : {stacked: true,},
                },
                plugins : { 
                    legend :{display:true}, 
                }
                }
                BarChart.losChart.update();
            },

        
            
        }
    });
</script>