{% load static %}
<link rel="stylesheet" href="{% static '/css/meal_detail.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
<div class="table_container">
    <h1>{{ user.username }}님의 {{ date }} 식단 상세 정보</h1>

    {% for meal_type, data in meal_info.items %}
    {% if data.foods %}
    <div class="meal-table">
        <table id="meal_dtl_table_{{ meal_type|slugify }}">
            <caption>{{ meal_type }}</caption>
            <thead>
                <tr>
                    <th>음식</th>
                    <th>칼로리</th>
                    <th>단백질(g)</th>
                    <th>지방(g)</th>
                    <th>탄수화물(g)</th>
                    <th>당류(g)</th>
                    <th>식이섬유(g)</th>
                    <th>나트륨(mg)</th>
                </tr>
            </thead>
            <tbody>
                {% for food in data.foods %}
                <tr>
                    <td>{{ food.name }}</td>
                    <td>{{ food.calories|floatformat:2 }}</td>
                    <td>{{ food.protein|floatformat:2 }}</td>
                    <td>{{ food.fat|floatformat:2 }}</td>
                    <td>{{ food.carbohydrate|floatformat:2 }}</td>
                    <td>{{ food.sugar|floatformat:2 }}</td>
                    <td>{{ food.dietary_fiber|floatformat:2 }}</td>
                    <td>{{ food.natrium|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% endfor %}

    <!-- Integrate deficient nutrients information into a table -->
    {% if deficient_nutrients %}
    <div class="meal-table deficient-nutrients">
        <h2>{{user.username}}님 {{date}}일 영양소 종합</h2>
        <table id="nutrients_dtl_table">
            <thead>
                <tr>
                    <th>영양소</th>
                    <th>권장량(g)</th>
                    <th>실제 섭취량(g)</th>
                </tr>
            </thead>
            <tbody>
                {% for nutrient, values in deficient_nutrients.items %}
                <tr>
                    <td>{{ nutrient|title }}</td>
                    <td>{{ values.recommended|floatformat:2 }}</td>
                    <td>{{ values.actual|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>