{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
    var dates = {{ dates | safe }};
    var calories = {{ calories | safe}};
</script>
<section>
    <h3><b>{{user.username}}님은 이번달에 {{days_with_data}}일을 식단관리 하셨습니다.</b></h3>
    <div class="container">
        <canvas id="caloriesChart"></canvas>
    </div>
    <br><br><br>
    {% if recommend %}
    <div class="container">
        {% for menu in recommend %}
        <div class="diet-section">
            <h2>추천식단</h2>
            <p>{{menu}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>

{% endblock content %}