{% load static %}
<div class="chart-container">
    <canvas id="nutrient_chart"></canvas>
</div>
<div id="progressbar">
    <p>오늘 섭취량 : {{ todays_total_cal }} / {{ user_max_calorie }}</p>
    <progress id="progress" value="0" min="0" max="{{ user_max_calorie }}">삽입</progress>
</div>
<div id="nutrient_info_box">
    <table id="meal_info_chart">
        <tr id="meal_chart_title">
            <th>구분</th>
            <th>식단 칼로리</th>
            <th>탄수화물</th>
            <th>단백질</th>
            <th>지방</th>
            <th>포화지방</th>
            <th>당</th>
            <th>나트륨</th>
            <th>식이섬유</th>
        </tr>
        <tr>
            <th>현재 식단</th>
            <td>{{ this_meal_cal }}kcal</td>
            <td>{{ total_nutrient.0 }}g</td>
            <td>{{ total_nutrient.1 }}g</td>
            <td>{{ total_nutrient.2 }}g</td>
            <td>{{ total_nutrient.5 }}g</td>
            <td>{{ total_nutrient.3 }}g</td>
            <td>{{ total_nutrient.4 }}mg</td>
            <td>{{ total_nutrient.7 }}g</td>
        </tr>
        <tr>
            <th>전체 식단</th>
            <td>{{ todays_total_cal }}kcal</td>
            <td>{{ todays_total_nut.0 }}g</td>
            <td>{{ todays_total_nut.1 }}g</td>
            <td>{{ todays_total_nut.2 }}g</td>
            <td>{{ todays_total_nut.5 }}g</td>
            <td>{{ todays_total_nut.3 }}g</td>
            <td>{{ todays_total_nut.4 }}mg</td>
            <td>{{ todays_total_nut.7 }}g</td>
        </tr>
    </table>
    <details>
        <summary id="summary_btn">개별 음식 영양 정보</summary>
        <table id="nutrient_table">
            <tr>
                <th>음식명</th>
                <th>칼로리</th>
                <th>수분</th>
                <th>탄수화물</th>
                <th>단백질</th>
                <th>지방</th>
                <th>포화지방</th>
                <th>당</th>
                <th>나트륨</th>
                <th>식이섬유</th>
            </tr>
            {% for food in each_foods %}
            <tr>
                <td>{{ food.food_name }}</td>
                <td>{{ food.calories }}kcal</td>
                <td>{{ food.water }}ml</td>
                <td>{{ food.carbohydrate }}g</td>
                <td>{{ food.protein }}g</td>
                <td>{{ food.fat }}g</td>
                <td>{{ food.total_sfa }}g</td>
                <td>{{ food.suger }}g</td>
                <td>{{ food.natrium }}mg</td>
                <td>{{ food.dietary_fiber }}g</td>
            </tr>
            {% endfor %}
        </table>
    </details>
</div>
<div>
    <h2>{{ user }}님의 {{ meal_type }}식단 분석</h2>
    <div class="barchart-container">
        <canvas id="nut_proportion_chart"></canvas>
    </div>
    <p>{{ nurtient_proportion }}</p>
    {% if warnings_dict %}
    {% for key, value in warnings_dict.items %}
    <div class="display_flex">
        <img class="warning_sign" src="{% static 'images/warning-sign-icon-transparent-background.png' %}" alt="warning-sign">
        <p>{{ key }} : {{ value }}</p>
    </div>
    {% endfor %}
    {% else %}
    <div class="display_flex">
        <img src="#" alt="스마일 표시">
        <p>완벽해요! 계속 이렇게 유지 해주세요.</p>
    </div>
    {% endif %}
</div>
<script>
    $(document).ready(function() {
        let maxCalories = $("#progress").attr("max");
        // console.log(maxCalories);
        let calories = {{ todays_total_cal }}
        $("#progress").animate({
            // 애니메이션이 도달해야 하는 거리
            value: calories
        }, {
            duration: 3000,
            step: function (currentValue) {
                $("#progress").attr("value", currentValue);
            },
            complete: function() {
                $("#progress").attr("value", calories);

                if (calories > maxCalories) {
                    $("#progress").addClass("overweight");
                }
            }
        });

        // 차트 그려주는 기능
        var canvas1 = $("#nutrient_chart");
        var nutrientChart = new Chart(canvas1, {
            type: 'radar',
            data: {
                labels: ['탄수화물', '단백질', '지방', '당류', '식이섬유', '포화지방'],
                // labels: ['탄수화물', '단백질', '지방'],
                datasets: [{
                    label: "현재 식단",
                    data: [{{ total_nutrient.0 }},
                           {{ total_nutrient.1 }},
                           {{ total_nutrient.2 }},
                           {{ total_nutrient.3 }},
                           {{ total_nutrient.7 }}, 
                           {{ total_nutrient.5 }}, ],
                    backgroundColor: [
                        'rgba(155, 255, 155, 0.2)',
                    ],
                    borderColor: [
                        'rgba(155, 255, 155, 1)',
                    ],
                    pointBackgroundColor: [
                        'rgb(255, 99, 132)'
                    ],
                    pointHoverBackgroundColor: [
                        '#fff',
                    ],
                    pointHoverBorderColor: [
                        'rgb(255, 99, 132)',
                    ],
                    pointRadius: 4,
                    pointHoverRadius: 5
                },
                {
                    label: "오늘 전체 식사량",
                    data: [{{ todays_total_nut.0 }},
                           {{ todays_total_nut.1 }},
                           {{ todays_total_nut.2 }},
                           {{ todays_total_nut.3 }},
                           {{ todays_total_nut.7 }}, 
                           {{ todays_total_nut.5 }}, ],
                    backgroundColor: [ // 박스 배경 색상
                        'rgba(58, 58, 218, 0.2)',
                    ],
                    borderColor: [ // 경계 색상
                        'rgba(58, 58, 218, 1)',
                    ],
                    pointBackgroundColor: [ // 포인터 배경색
                        'rgb(255, 99, 132)'
                    ],
                    pointHoverBackgroundColor: [ // 마우스 올리면 바뀌는 점
                        '#fff',
                    ],
                    pointHoverBorderColor: [ // 마우스 올리면 바뀌는 경계선
                        'rgb(255, 99, 132)',
                    ],
                    pointRadius: 4,
                    pointHoverRadius: 5,
                },
                // {
                //     label: "{{ user }}님 하루 적정 식사량",
                //     data: [367, 155, 160, 100, 100, 100 ],
                //     backgroundColor: [ // 박스 배경 색상
                //         'rgba(58, 58, 218, 0.2)',
                //     ],
                //     borderColor: [ // 경계 색상
                //         'rgba(58, 58, 218, 1)',
                //     ],
                //     pointBackgroundColor: [ // 포인터 배경색
                //         'rgb(255, 99, 132)'
                //     ],
                //     pointHoverBackgroundColor: [ // 마우스 올리면 바뀌는 점
                //         '#fff',
                //     ],
                //     pointHoverBorderColor: [ // 마우스 올리면 바뀌는 경계선
                //         'rgb(255, 99, 132)',
                //     ]
                // }
                ]
            },
            options: {
                scale: {
                    angleLines: {
                        display: false
                    },
                    ticks: {
                        suggestedMin: 50,
                        suggestedMax: 150
                    }
                }
            }
        });

        $(function(){
            dslosChart.init();
        });

        const dslosChart = {
            losChart : null, 
            chartData : {
                labels: ['영양소 비율'],
                datasets: [
                    {
                        label: '탄수화물',
                        data: [{{ nurtient_proportion.0 }}],
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth:1 ,
                        barThickness:15,
                        borderSkipped:false ,
                        borderRadius: [
                            { topLeft: 20, topRight: 0, bottomLeft: 20, bottomRight: 0},
                        ],
                        
                    },
                    {
                        label: '단백질',
                        data: [{{ nurtient_proportion.1 }}],
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        barThickness:15,
                    },
                    {
                        label: '지방',
                        data: [{{ nurtient_proportion.2 }}],
                        backgroundColor: 'rgba(255, 206, 86, 0.5)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        barThickness:15,
                    },
                    {
                        label: '당',
                        data: [{{ nurtient_proportion.3 }}],
                        backgroundColor: 'rgba(255, 206, 255, 0.5)',
                        borderColor: 'rgba(172, 47, 234, 1)',
                        barThickness:15,
                    },
                    {
                        label: '포화지방',
                        data: [{{ nurtient_proportion.4 }}],
                        backgroundColor: 'rgba(255, 206, 255, 0.5)',
                        borderColor: 'rgba(255, 206, 255, 1)',
                        barThickness:15,
                    },
                    {
                        label: '트랜스지방',
                        data: [{{ nurtient_proportion.5 }}],
                        backgroundColor: 'rgba(54, 162, 2, 0.5)',
                        borderColor: 'rgba(54, 162, 2, 1)',
                        barThickness:15,
                        borderRadius: [
                            { topLeft: 0, topRight: 20, bottomLeft: 0, bottomRight: 20},
                        ]
                    },
                ]
            },

            init: function(){
                dslosChart.initChart(); 
            },
            initChart: function(){
            // if(this.losChart != undefined) this.losChart.destroy();
            
            dslosChart.losChart = new Chart($('#nut_proportion_chart'), {
                    type: 'bar', 
                // data: dslosChart.chartData,
                });
            
            dslosChart.getLosChart();

            },
            getLosChart: function(){

                dslosChart.losChart.data = dslosChart.chartData;
                
                dslosChart.losChart.options.plugins.datalabels = {display: false };
                dslosChart.losChart.options = {
                indexAxis: 'y',
                scales : {
                    x : {stacked: true, display:false},
                    y : {stacked: true,},
                },
                plugins : { 
                    legend :{display:false}, 
                }
                }
                dslosChart.losChart.update();
            },

        
            
        }
    });
</script>