{% extends 'base.html' %}
{% block content %}

{% load static %}
<script>
    const key = "{{ GOOGLE_API_KEY | safe}}";
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
        key: key, libraries: ["marker", "places"], callback: "initMap"
    });
</script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
<div id="recommendation">
    {% if recommend %}
    <section>
        <!-- 식단 추천 제목과 설명 -->
        <h3><b>오늘의 식단 추천 : {{ meal_type }} </b></h3>
        <h5>
            <span id="tooltiptext">
                일주일간 기록된 메뉴의 목록과 성분을 분석하여 적절한 식사메뉴를 추천해드립니다.
                <br>{{ user.username }} 님의 식사 패턴 분석 결과
                <br><b class="{% if meal_type == '저염식' or meal_type == '당뇨식' %}text-danger{% endif %}">{{ msg }}</b>
                <br>위치 제공에 동의해주시면 메뉴 클릭시 현재 위치 기준으로 식당을 추천해드립니다.
            </span>
        </h5>
        <hr>

        <!-- 식단 추천 테이블과 추천 식당 맵을 나란히 배치하기 위한 컨테이너 -->
        <div class="recommendation-section" style="display: flex;">

            <!-- 추천 식단 테이블 -->
            <div class="meal-recommendation" style="flex: 1;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>추천 식단</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for menu in recommend %}
                        <tr>
                            <td><b>{{ forloop.counter }}</b></td>
                            <td>
                                <ol>
                                    {% for item in menu %}
                                    <li class="menu-item">{{ item }}</li>
                                    {% endfor %}
                                </ol>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- 추천 식당 맵 -->
            <div class="restaurant-recommendation" style="flex: 1;">
                <h3>주변 식당 검색</h3>
                <div id="map" style="height:500px;"></div>
            </div>

        </div>
    </section>
    {% endif %}
</div>
{% endblock content %}