{% extends 'base.html' %}

{% block content %}
<h2>식단 분석 페이지</h2>
<main>
    <section class="meal-analysis">
        <h1>식단 사진 업로드</h1>
        <form>
            <label for="fileUpload">식단 사진 선택:</label>
            <input type="file" id="fileUpload" name="fileUpload" accept="image/*">
        </form>
        <div id="preview">
            AI가 식단을 분석해 자동으로 영양정보를 분석하고 맞춤 식단을 추천해드립니다.
        </div>
        <button id="analyze-button">분석</button>   
    </section>
    <div id="current-section"></div>
    <!-- <section class="meal-details">
        <h2>식단 정보</h2>
        <div id="meal_detail"></div>
    </section>
    </div> -->
</main>
<aside>
    <div id="analysis-section">
        <main>
            <p>이 식단 정보로 입력합니까 ?</p>
            <button id="confirm-button">확인</button>
            <!-- <button id="deny-button">틀림</button> -->
        </main>
    </div>

    <h2>영양소 정보</h2>
    <div id="nutrient_information"></div>
    <h2>코멘트</h2>
    <div id="time_comment"></div>


</aside>
{% endblock content %}