{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
    var dates = {{ dates | safe }};
    var calories = {{ calories | safe}};
</script>
<section>
    <h3><b>{{user.username}}님은 이번달에 {{days_with_data}}일을 식단관리 하셨습니다.</b></h3>
    <div>
        <canvas id="caloriesChart"></canvas>
    </div>
    <br><br>
    {% if recommend %}
    <div>
        <p>{{user.username}} 님을 위한 식단추천</p>
        <li>{{recommend}}</li>
    </div>
    {% endif %}
</section>

{% endblock content %}