{% extends 'base.html' %}

{% block content %}
<h2>식단 히스토리</h2>
<main>
    <div class="chart-container">
        <h2>하루 식단 히스토리</h2>
        <img src="path_to_chart_image.jpg" alt="식단 차트">
        <p>지난달에 비해 1.2kg 감량했습니다!</p>
        <p>2023년 12월 15일 (수요일)에 가장 적은 탄수화물을 섭취했어요.</p>
        <p>이런 식단은 어때요?</p>
    </div>
    <!-- 액션 버튼 -->
    <!-- <div class="action-buttons">
        <button onclick="location.href='link_to_next_page.html'">확인</button>
    </div> -->
    <!-- 다른 옵션들 -->
    <div class="options">
        <div class="option">조건별 식단 아이디어 제공</div>
        <div class="option">맞춤형 레시피 추천</div>
        <div class="option">영양소 정보</div>
    </div>
</main>
{% endblock content %}